/node_modules
/public/hot
/public/storage
#/public/js
#/public/css
#/public/fonts
#/public/images
#/public/mix-manifest.json
/storage/*.key
/vendor
/front
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
rr
.rr.yaml
/mysql_data
/storage/app/media/
/storage
auth.json
